h1{
    display: flex;
    justify-content: center;
    height: 10vh;
}
div{
    display:flex;
    justify-content: center;
    align-items:flex-end;
    height: 10vh;
}
html{
    background-color:#ED1C24;
}
div2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 40vh;
}